<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
            <div class="columns is-multiline">
                {% for item in site.data[site.footer_menu] %}
                <div class="column has-text-centered">
                    <div>
                        <a href="{{ item.link | relative_url }}" target="_blank">{{ item.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="content is-small has-text-centered">
        <p>&nbsp;</p>
        <p>This site does not use any cookies or external analytics tools, so you do not have to provide consent or define allowed services. For our privacy notice, see the links above.</p>
    </div>
</footer>