<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ site.theme_color | default: '#ffffff' }}">

    <meta http-equiv="Content-Language" content="{{ page.lang }}">
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
    {% for lang in site.languages %}
    {% if lang == site.default_lang %}
    <link rel="alternate" hreflang="{{ lang }}" {% static_href %}href="{{ page.url_without_lang }}"{% endstatic_href %} />
    {% else %}
    <link rel="alternate" hreflang="{{ lang }}" {% static_href %}href="/{{ lang }}{{ page.url_without_lang }}"{% endstatic_href %} />
    {% endif %}
    {% endfor %}
    <link rel="alternate" hreflang="x-default" {% static_href %}href="{{ page.url_without_lang }}"{% endstatic_href %} />

    <link rel="stylesheet" {% static_href %}href="{{ site.baseurl }}/assets/css/app.css"{% endstatic_href %}>
    <link
        rel="shortcut icon"
        type="image/png"
        {% if site.favicon %}
            {% static_href %}href="{{ site.favicon | relative_url }}"{% endstatic_href %}
        {% else %}
            {% static_href %}href="{{ site.baseurl }}/favicon.png"{% endstatic_href %}
        {% endif %}
    >

    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
    
    {% unless site.hide_share_buttons %}
        <link rel="stylesheet" {% static_href %}href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css"{% endstatic_href %}>
    {% endunless %}
    {% seo %}
    {% if site.feed %}
        {% feed_meta %}
    {% endif %}
    {%- if site.google_analytics -%}
        {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}
</head>
