<nav class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}"
    x-data="{ openNav: false }">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="navbar-item has-text-white">
                <img src="/assets/images/set-outlooksignatures logo 500px.png" alt="Set-OutlookSignatures">
            </a>

            <div class="navbar-item ml-auto mr-0 has-text-white is-hidden-desktop is-hidden-tablet">
                <span>
                    🌐
                    {%- assign page_path_without_anchor = page.url | split: '#' | first -%}
                    {%- for tongue in site.languages -%}
                    <a {% if tongue==site.active_lang %}style="font-weight: bold;" {% endif %} class="has-text-white" {%
                        static_href
                        %}href="{% if tongue == site.default_lang %}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.baseurl }}/{{ tongue }}{{ page.url }}{% endif %}"
                        {% endstatic_href %}
                        data-base-url="{% if tongue == site.default_lang %}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.baseurl }}/{{ tongue }}{{ page.url }}{% endif %}">
                        {{ tongue }}
                    </a>{% if forloop.last == false %}{{ " | " }}{% endif %}
                    {%- endfor -%}
                </span>
            </div>

            <a role="button" class="ml-0 navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-start">
                <!-- <a href="{{ site.baseurl }}/" class="navbar-item has-text-white {% if page.url == "/" %}is-active{% endif %}">Features</a> -->
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                {% if item.dropdown %}
                <div
                    class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                    <a href="{{ item.link | relative_url }}"
                        class="navbar-link has-text-white {% if page.url contains item.link %}is-selected{% endif %}">{{
                        item.name }}</a>
                    <div class="navbar-dropdown">
                        {% for subitem in item.dropdown %}
                        <a href="{{ subitem.link | relative_url }}"
                            class="navbar-item {% if page.url contains subitem.link %}is-selected{% endif %}">{{
                            subitem.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <a href="{{ item.link | relative_url }}"
                    class="navbar-item has-text-white {% if page.url contains item.link %}is-selected{% endif %}">{{
                    item.name }}</a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="navbar-end">
                <a class="navbar-item has-text-white" href="/search" aria-label="Search">
                    <span>🔍︎ Search</span>
                </a>

                <div class="navbar-item has-text-white" id="language-switcher">
                    <span>
                        🌐
                        {%- assign page_path_without_anchor = page.url | split: '#' | first -%}
                        {%- for tongue in site.languages -%}
                        <a {% if tongue==site.active_lang %}style="font-weight: bold;" {% endif %}
                            class="has-text-white" {% static_href
                            %}href="{% if tongue == site.default_lang %}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.baseurl }}/{{ tongue }}{{ page.url }}{% endif %}"
                            {% endstatic_href %}
                            data-base-url="{% if tongue == site.default_lang %}{{ site.baseurl }}{{ page.url }}{% else %}{{ site.baseurl }}/{{ tongue }}{{ page.url }}{% endif %}">
                            {{ tongue }}
                        </a>{% if forloop.last == false %}{{ " | " }}{% endif %}
                        {%- endfor -%}
                    </span>
                </div>

                {% if site.gh_sponsor and page.hide_gh_sponsor != true%}
                <a class="navbar-item has-text-white no-external-link-icon"
                    href="https://github.com/sponsors/{{ site.gh_sponsor }}" aria-label="Sponsor">
                    ❤️ Sponsor
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>