<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ site.theme_color | default: '#ffffff' }}">

    <meta http-equiv="Content-Language" content="{{page.lang}}">
    {%- if page.lang == site.default_lang %}
    <link rel="canonical" href="{{ site.baseurl }}{{ page.permalink }}" />
    {%- else %}
    <link rel="canonical" href="{{ site.baseurl }}/{{ page.lang }}{{ page.permalink }}" />
    {%- endif -%}

    {%- assign default_href = site.baseurl | append: page.permalink -%}
    {%- for lang in site.languages -%}
    {%- if lang == site.default_lang %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ default_href }}" />
    {%- else %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ site.baseurl }}/{{ lang }}{{ page.permalink }}" />
    {%- endif -%}
    {%- endfor %}
    <link rel="alternate" hreflang="x-default" href="{{ default_href }}" />

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link
        rel="shortcut icon"
        type="image/png"
        {% if site.favicon %}
            href="{{ site.favicon | relative_url }}"
        {% else %}
            href="{{ site.baseurl }}/favicon.png"
        {% endif %}
    >

    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
    
    {% unless site.hide_share_buttons %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
    {% endunless %}
    {% seo %}
    {% if site.feed %}
        {% feed_meta %}
    {% endif %}
    {%- if site.google_analytics -%}
        {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}
</head>
