<nav class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}"
    x-data="{ openNav: false }" style="position: fixed; z-index: 500;">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="navbar-item has-text-white">
                <img src="{{ site.navbar_logo }}" alt="{{ site.navbar_logo_alt }}">
            </a>

            <div class="navbar-item ml-auto mr-0 has-text-white is-hidden-desktop is-hidden-tablet" x-on:click="openNav = !openNav">
                <span>🔍︎&nbsp;🌐</span>
            </div>

            <a role="button" class="ml-0 navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-start">
                <!-- <a href="{{ site.baseurl }}/" class="navbar-item has-text-white {% if page.url == "/" %}is-active{% endif %}">Features</a> -->
                {% if site.data[site.active_lang].navigation %}
                    {% for item in site.data[site.active_lang].navigation %}
                        {% if item.dropdown %}
                            <div
                                class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                                <a href="{{ item.link | relative_url }}"
                                    class="navbar-link has-text-white {% if page.url contains item.link %}is-selected{% endif %}">{{
                                    item.name }}</a>
                                <div class="navbar-dropdown">
                                    {% for subitem in item.dropdown %}
                                    <a href="{{ subitem.link | relative_url }}"
                                        class="navbar-item {% if page.url contains subitem.link %}is-selected{% endif %}">{{
                                        subitem.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% elsif item.link %}
                            <a href="{{ item.link | relative_url }}" class="navbar-item has-text-white {% if page.url contains item.link %}is-selected{% endif %}">{{ item.name }}</a>
                        {% else %}
                            <a class="navbar-item has-text-white">{{ item.name }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="navbar-end">
                <a class="navbar-item has-text-white" href="/search" aria-label="Search">
                    <span>🔍︎&nbsp;{{ site.data[site.active_lang].strings.search }}</span>
                </a>

                <div class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}" id="language-switcher">
                    <div class="navbar-link has-text-white">
                        🌐&nbsp;
                        {%- assign page_path_without_anchor = page.url | split: '#' | first -%}
                        {%- assign active_tongue = site.active_lang -%}
                        {{ active_tongue | upcase }}
                    </div>

                    <div class="navbar-dropdown">
                        {%- for tongue in site.languages -%}
                            {%- assign link_url = "" -%}
                            {%- if tongue == site.default_lang -%}
                                {%- assign link_url = site.baseurl | append: page.url -%}
                            {%- else -%}
                                {%- assign link_url = site.baseurl | append: "/" | append: tongue | append: page.url -%}
                            {%- endif -%}
                            <a class="navbar-item {% if tongue == site.active_lang %}is-selected{% endif %}" {% static_href
                                %}href="{{ link_url }}" {% endstatic_href %} data-base-url="{{ link_url }}">
                                {{ tongue | upcase }}
                            </a>
                        {%- endfor -%}
                    </div>
                </div>

                {% if site.gh_sponsor and page.hide_gh_sponsor != true%}
                <a class="navbar-item has-text-white no-external-link-icon"
                    href="https://github.com/sponsors/{{ site.gh_sponsor }}" aria-label="Sponsor">
                    ❤️ Sponsor
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>