<div class="columns is-multiline">
    {% assign post_count = 0 %}
    {% assign has_new_release = false %}

    {% for post in site.posts %}
        {% if post_count >= 3 %}
            {% break %} {% endif %}

        {% if post.url == page.url %}
            {% continue %}
        {% endif %}

        {% if post.tags contains "new release" %}
            {% if has_new_release == false %}
                <div class="column is-12" style="font-size: 0.75rem;">
                    {% include post-card.html %}
                </div>
                {% assign post_count = post_count | plus: 1 %}
                {% assign has_new_release = true %} {% endif %}
        {% else %}
            <div class="column is-12" style="font-size: 0.75rem;">
                {% include post-card.html %}
            </div>
            {% assign post_count = post_count | plus: 1 %}
        {% endif %}
    {% endfor %}
</div>