<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path | replace: '/index.html', '/' }}" class="pagination-previous">&lt;</a>
    {% else %}
    <a class="pagination-previous" disabled>&lt;</a>
    {% endif %}
    
    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path | replace: '/index.html', '/' }}" class="pagination-next">&gt;</a>
    {% else %}
    <a class="pagination-next" disabled>&gt;</a>
    {% endif %}

    <ul class="pagination-list">
        {% if paginator.page_trail %}
            
            {% comment %} 1. Flawless First Page Link {% endcomment %}
            {% assign first_trail = paginator.page_trail | first %}
            {% if first_trail.num > 1 %}
                <li>
                    <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}" class="pagination-link" title="First Page">1</a>
                </li>
                {% if first_trail.num > 2 %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
            {% endif %}

            {% comment %} 2. Render Visible Trail Window {% endcomment %}
            {% for trail in paginator.page_trail %}
            <li>
                <a href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', '/'}}"
                    class="pagination-link {% if paginator.page == trail.num %} is-current {% endif %}"
                    title="{{ trail.title }}">{{ trail.num }}</a>
            </li>
            {% endfor %}

            {% comment %} 3. Flawless Last Page Link {% endcomment %}
            {% assign last_trail = paginator.page_trail | last %}
            {% if last_trail.num < paginator.total_pages %}
                {% if last_trail.num < paginator.total_pages | minus: 1 %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                {% endif %}
                <li>
                    <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}" class="pagination-link" title="Last Page">{{ paginator.total_pages }}</a>
                </li>
            {% endif %}
            
        {% endif %}
    </ul>
</nav>