<nav class="pagination is-centered">
    {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-previous is-info">&lt;</a>
    {% else %}
        <p class="pagination-previous" disabled>&lt;</p>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-next is-info">&gt;</a>
    {% else %}
        <p class="pagination-next" disabled>&gt;</p>
    {% endif %}
    <ul class="pagination-list">
        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li>
                    <a class="pagination-link is-current">{{ page }}</a>
                </li>
            {% elsif page == 1 %}
                <li>
                    <a
                        href="{{ site.pagination.permalink | prepend: site.baseurl | replace: '//', '/' | split: '/' | pop | join: '/' }}"
                        class="pagination-link"
                    >
                        {{- page -}}
                    </a>
                </li>
            {% else %}
                <li>
                    <a
                        href="{{ site.pagination.permalink | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
                        class="pagination-link"
                    >
                        {{- page -}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
