<div class="card" style="background-color: transparent;">
    <div class="card-content">
        <div class="content">
            <div class="level is-mobile">
                <div class="level-left">
                    <h2>
                        <a class="title" href="{{ site.baseurl }}{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h2>
                </div>
                
                <div class="level-right">
                    {% if post.date %}
                        <p>{{ post.date | date: '%Y-%m-%d' }}</p>
                    {% endif %}
                </div>
            </div>
            {% if post.summary %}
                {% assign truncated_text = post.summary | markdownify | replace: "<br>", "_NEWLINE_" | replace: "</h2>", "_NEWLINE_" | replace: "</p>", "_NEWLINE_" | strip_html %}
            {% else %}
                {% assign truncated_text = post.content | markdownify | replace: "<br>", "_NEWLINE_" | replace: "</h2>", "_NEWLINE_" | replace: "</p>", "_NEWLINE_" | strip_html | truncatewords: 50 %}
            {% endif %}
            {% assign lines = truncated_text | split: "_NEWLINE_" %}
            {% for line in lines %}
                {% if forloop.first %}
                    <p><strong>{{ line }}</strong></p>
                {% else %}
                    <p>{{ line }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button" style="background-color: limegreen;">{{ site.data[site.active_lang].strings.post_read_full }}</a>
        </div>
    </div>
</div>
