<div class="card" style="background-color: transparent;">
    <div class="card-content">
        <div class="content">
            {% if post.date %}
                <p class="mb-0 pb-0 is-size-7">{{ post.date | date: '%Y-%m-%d' }}</p>
            {% endif %}
            <h2 class="mt-0 pt-0">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            {% if post.summary %}
                {% assign truncated_text = post.summary | markdownify | replace: "<br>", "_NEWLINE_" | replace: "</h2>", "_NEWLINE_" | replace: "</p>", "_NEWLINE_" | strip_html %}
            {% else %}
                {% assign truncated_text = post.content | markdownify | replace: "<br>", "_NEWLINE_" | replace: "</h2>", "_NEWLINE_" | replace: "</p>", "_NEWLINE_" | strip_html | truncatewords: 50 %}
            {% endif %}
            {% assign lines = truncated_text | split: "_NEWLINE_" %}
            {% if post.description %}
                <p><strong>{{ post.description | markdownify | replace: "<br>", "_NEWLINE_" | replace: "</h2>", "_NEWLINE_" | replace: "</p>", "_NEWLINE_" | strip_html }}</strong></p>
                {% for line in lines %}
                    <p>{{ line }}</p>
                {% endfor %}
            {% else %}
                {% for line in lines %}
                    {% if forloop.first %}
                        <p><strong>{{ line }}</strong></p>
                    {% else %}
                        <p>{{ line }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        <div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="button has-text-black" style="background-color: limegreen;">{{ site.data[site.active_lang].strings.post_read_full }}</a>
        </div>
    </div>
</div>
