<div class="card">
    <div class="card-content">
        <div class="content">
            <a class="title" href="{{ site.baseurl }}{{ post.url }}">{% if post.date %}{{ post.date | date: '%Y-%m-%d' }}: {% endif %}{{ post.title }}</a>
            {% if post.summary %}
            {{ post.summary | markdownify }}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button">[...]</a>
        </div>
    </div>
</div>
