<div class="buttons has-text-centered">
    <a href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" class="button is-link">
        <span>{{ site.data[site.active_lang].strings.blog_subscribe }}</span>
    </a>
    <a href="/" class="button is-link" style="font-weight: bold; color: black; background-image: linear-gradient(160deg, darkgoldenrod, goldenrod, palegoldenrod, goldenrod, darkgoldenrod);">
        <span>{{ site.data[site.active_lang].strings.blog_learnmore }}</span>
    </a>
</div>