@charset "utf-8";

$family-sans-serif: Arial, sans-serif;
$primary: black !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 1000px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";

@include mobile {
  html {
    font-size: 14px; // Shrinks all REM-based sizes globally
  }

  .title {
    font-size: 1.3rem !important;
  }

  .subtitle {
    font-size: 1.2rem !important;
  }

  // Adjust content body text specifically if needed
  .content {
    font-size: 1rem;
  }
}
