@charset "utf-8";

$family-sans-serif: Arial, sans-serif;
$primary: black !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";

.gh-sponsor {
  color: #ea4aaa;
}


.glow-warning {
    /* Make the inline element a block to allow box-shadow */
    display: inline-block;
    /* Add padding to create space for the glow */
    padding: 5px 10px; 
    /* Use negative margin to pull the element back into place */
    margin: -5px -10px;
    border-radius: 8px; /* Softer rounded corners */

    /* The box-shadow for the glow effect */
    box-shadow: 0 0 12px 6px rgba(255, 87, 34, 0.7),
                0 0 25px 12px rgba(255, 152, 0, 0.5);
    
    /* Animation for a pulsing effect */
    animation: pulse-glow 2s infinite alternate;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 12px 6px rgba(255, 87, 34, 0.7);
    }
    100% {
        box-shadow: 0 0 25px 12px rgba(255, 152, 0, 0.7);
    }
}