@charset "utf-8";

$family-sans-serif: Arial, sans-serif;
$primary: black !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";

.gh-sponsor {
  color: #ea4aaa;
}


.glow-warning {
    /* Base glow color */
    box-shadow: 0 0 10px 5px #ff5722, /* A warm, eye-catching orange glow */
                0 0 20px 10px #ff9800,
                0 0 30px 15px #ffc107;
    border-radius: 5px; /* A subtle rounding of corners for a softer effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
    
    /* Animation for a pulsing effect */
    animation: pulse-glow 2s infinite alternate;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 10px 5px #ff5722;
    }
    100% {
        box-shadow: 0 0 20px 10px #ff9800;
    }
}