---
layout: default
---
<div class="content">
    <h1 class="title is-2">
        {% if page.type == 'tag' %}
            Posts tagged with "{{ page.title }}"
        {% elsif page.type == 'category' %}
            Category: {{ page.title }}
        {% elsif page.date %}
            {% comment %} 
                Splitting the URL to determine depth:
                /blog/2026/          -> Year (2026)
                /blog/2026/03/       -> Month (2026-03)
                /blog/2026/03/18/    -> Day (2026-03-18)
            {% endcomment %}
            {% assign url_parts = page.url | split: '/' | compact %}
            {% if url_parts.size == 2 %} 
                Archive: {{ page.date | date: '%Y' }}
            {% elsif url_parts.size == 3 %}
                Archive: {{ page.date | date: '%Y-%m' }}
            {% elsif url_parts.size == 4 %}
                Archive: {{ page.date | date: '%Y-%m-%d' }}
            {% else %}
                Archive: {{ page.title }}
            {% endif %}
        {% else %}
            Archive: {{ page.title }}
        {% endif %}
    </h1>
    <hr>

    <div class="columns is-multiline">
        {% assign active_lang = site.active_lang | default: site.lang %}
        {% assign filtered_posts = page.posts | where: "lang", active_lang %}
        
        {% for post in filtered_posts %}
            <div class="column is-12">
                {% include post_card.html post=post %}
            </div>
        {% else %}
            <div class="column is-12">
                <div class="notification is-light">
                    No posts found for this archive in {{ active_lang | upcase }}.
                </div>
            </div>
        {% endfor %}
    </div>
</div>