name: "search-engines-urls-push"
on:
  workflow_dispatch:
  schedule:
    - cron: "15 23 * * *"

jobs:
  check-for-new-commits:
    runs-on: ubuntu-latest
    outputs:
      has_new_commits: ${{ steps.check.outputs.has_new_commits }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 10 # Fetch enough history to check for recent commits

      - name: Check for workflow dispatch or new commits
        id: check
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "Workflow was manually dispatched. Running all jobs."
            echo "has_new_commits=true" >> $GITHUB_OUTPUT
          else
            echo "Not a manual run. Checking for recent commits."

            LOG_OUTPUT=$(git log --since="24 hours" -n 1)

            if [[ -n "$LOG_OUTPUT" ]]; then
              echo "There are new commits in the last 24 hours."
              echo "has_new_commits=true" >> $GITHUB_OUTPUT
            else
              echo "No new commits in the last 24 hours."
              echo "has_new_commits=false" >> $GITHUB_OUTPUT
            fi
          fi

  setup-delay:
    runs-on: ubuntu-latest
    needs: check-for-new-commits
    if: needs.check-for-new-commits.outputs.has_new_commits == 'true'
    steps:
      - name: Sleep
        uses: GuillaumeFalourd/wait-sleep-action@v1
        with:
          time: "120s"

  submit-to-search-engines:
    runs-on: ubuntu-latest
    needs: setup-delay
    if: needs.setup-delay.result == 'success'
    steps:
      - name: 3Alan/search-engines-urls-push@v0.2.3
        uses: 3Alan/search-engines-urls-push@v0.2.3
        with:
          site: ${{ secrets.SITE }}
          sitemap: ${{ secrets.SITEMAP }}
          bing-token: ${{ secrets.BING_TOKEN }}
          google-client-email: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
          google-private-key: ${{ secrets.GOOGLE_PRIVATE_KEY }}

  submit-to-indexnow:
    runs-on: ubuntu-latest
    needs: setup-delay
    if: needs.setup-delay.result == 'success'
    steps:
      - name: indexnow-action
        uses: bojieyang/indexnow-action@v2
        with:
          limit: 1000
          sitemap-location: ${{ secrets.SITEMAP }}
          key: ${{ secrets.INDEXNOW_KEY }}